language: php
php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest"
    - PREFER_LOWEST=""

before_script:
    - composer selfupdate
    - composer install --prefer-source $PREFER_LOWEST

script:
    - phpunit
